<script type="text/javascript">
    location.href = "http://gubetti.koding.io/gcg/mat/Main3D.html";
</script>

    O site está sendo redirecionado em 5 segundos...
<a href="http://gubetti.koding.io/gcg/mat/Main3D.html">Caso não aconteça clique aqui</a>